* text=auto
*.java text eol=lf
*.kt text eol=lf
*.kts text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.tsv text eol=lf
*.ps1 text eol=crlf
gradlew text eol=lf
gradlew.bat text eol=crlf
*.jar binary
*.png binary
*.zip binary
